# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Ignore test reports
reports/
*.log

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

# Ignore dependencies
*.egg-info/
.DS_Store
